.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.title {
  color: brown;
}

h1.main {            
  text-align: center;
}

ul {                
  margin: 0px;
  padding: 0px;
  height: 200px;
  overflow: scroll;
  list-style-type: none;
}

a {              
  text-decoration: none;
}

a.active {              
  color: gray;
  pointer-events: none;
}
